<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login admin</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container-form">
      <div class="form-loginadmin">
        <h2>Login Administrador</h2>
        <form method="POST" class="form-login">
          <label for="usuario">Introduce el usuario: <input id="usuario" name="usuario" placeholder="Usuario" /></label><br>
          <label for="clave">Contraseña: <input id="clave" name="clave" type="password" placeholder="Contraseña" /></label><br>
          <button type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </body>
</html>
